<button class="btn btn-primary mb-3">create card</button>
<button class="btn btn-danger mb-3">delete all cards</button>
<div class="accordion">
  <div class="card">
    <div class="card-header">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Random card #1
      </button>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card card-body">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <strong>ID:</strong><br>
                123456789
              </div>
              <div class="col-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="col-4">
                <button class="btn btn-success">save</button>
                <button class="btn btn-secondary">view card</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>